html, address, article, body, footer, header, h1, h2, h3, h4, h5, h6, hgroup, nav,
section, blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul,
img, video, embed, iframe, object, del, ins, caption, col, colgroup, table, tbody, td,
tfoot, th, thead, tr, button, datalist, fieldset, form, input, keygen, label, legend,
meter, optgroup, option, output, progress, select, textarea, details, dialog, menu,
menuitem, summary {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}

ul, ol {
	list-style: none;
}