$game-width: 720px;
$game-height: 600px;
$aside-width: 300px;

$bar-height: 18px;

@import "reset";

.clear:after {
	display: block;
	content: '';
	clear: both;
}

body {
	background: #EEE;
	font-family: sans-serif;
	font-size: 12px;
}

main {
	background: #AAA;
	width: $game-width + $aside-width;
	height: $game-height;
	margin: 20px auto;

	canvas {
		display: block;
		float: left;
	}

	aside {
		display: block;
		float: right;
		width: $aside-width;
		height: $game-height;
		background: #333;
		color: #EEE;
		padding: 20px;
	}
}

.party {
	ul {
		@extend .clear;
		margin-bottom: 10px;
	}

	li {
		display: inline;
	}

	.hero {
		float: left;
		width: 80px;
		background: #222;
		box-shadow: 0 1px 3px rgba(#000, 0.1);

		.profile {
			text-align: center;
			line-height: 80px;
			background: #444;
		}
	}

	.bar {
		position: relative;
		background: #222;
		overflow: hidden;

		div {
			height: $bar-height;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
			line-height: $bar-height;
			font-size: 10px;
		}

		&.hp div { background: #297C45; }
		&.energy div { background: #4D2D73; }

		&.moves {
			background: #777;

			div { background: #DDD; }
			span { color: #333; }
		}
	}

	li + li .hero {
		margin-left: 10px;
	}
}