@import 'reset';

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background: #222;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}