$game-width: 720px;
$game-height: 600px;
$aside-width: 300px;

@import "reset";

.clear:after {
	display: block;
	content: '';
	clear: both;
}

body {
	background: #EEE;
}

main {
	background: #AAA;
	width: $game-width + $aside-width;
	height: $game-height;
	margin: 20px auto;

	canvas {
		display: block;
		float: left;
	}

	aside {
		display: block;
		float: right;
		width: $aside-width;
		height: $game-height;
		background: #333;
		color: #EEE;
		padding: 20px;
	}
}

.party {
	@extend .clear;

	li {
		display: inline;
	}

	.hero {
		float: left;
		width: 80px;
		height: 90px;
		background: #222;

		.profile {
			text-align: center;
			line-height: 80px;
			background: #444;
		}
	}

	li + li .hero {
		margin-left: 10px;
	}
}